.vscode
.vscode/
*.bak
_minted-NavibusMercatoriis/
_minted-NavibusMercatoriis
*.aux
*.log
*.out
*.synctex.gz
**/*.bak
**/_minted-NavibusMercatoriis/
**/_minted-NavibusMercatoriis
**/*.aux
**/*.log
**/*.out
**/*.synctex.gz
**/.vscode
**/.vscode/
