<h1>Federal Corporation Claim Registry</h1>
<h2>Register</h2>
<div>
    <p>If you already have your corporation on record, please <a href="/public/login.php">login</a>.</p>
</div>
<div>
    <p>if not, please enter your details below to register.</p>
    <form method="post" name="registerform" id="registerform">
            <label>Username: &nbsp</label><input type="text" name="username"/><br/>
            <label>Password: &nbsp</label><input type="password" name="password"/><br/>
            <input type="submit" name="register" value="Register"/>
    </form>
</div>
