@font-face {
    font-family: 'Spaceship Bullet';
    src:         url("../fonts/SpaceshipBullet.ttf");
}

body {
    font-family: 'Courier New';
    text-align:  center;
}
h1, h2, h3 {
    font-family: 'Spaceship Bullet';
}

input[type="text"], input[type="password"] {
    text-align:         center;
    border:             solid transparent;
    outline:            none;
    background-color: #ffffff;
    text-decoration:    none;
}
input[type="submit"] {
    border:             solid transparent;
    background-color: gainsboro;
    color:            #428bca;
}
div {
    border-top:    groove black;
    text-align:    center;
    padding:       10px;
    margin-left:   200px;
    margin-right:  200px;
    margin-top:    10px;
    margin-bottom: 10px;
}
table, tr, th, td {
    border:  solid black;
    margin:  0 auto;
    padding: 5px;
}
